.app {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 2rem;
}

.input-container {
  margin: 20px;
}

input {
  padding: 10px;
  width: 200px;
  margin-right: 10px;
}

button {
  padding: 10px 15px;
  cursor: pointer;
}

.weather-card {
  border: 1px solid #efe4e4;
  padding: 20px;
  display: inline-block;
  margin-top: 20px;
  border-radius: 8px;
  background-color: #1e1818;
  
}

.error {
  color: red;
}
